#comName {
    color: brown;
    background: black;
    width: 100%;
}

#b1 {
    padding: 20%;
    background: blueviolet;
    width: 400px;
    cursor: pointer;
}

#b2 {
    padding: 20%;
    background: blueviolet;
    width: 400px;
    cursor: pointer;
}

body {
    background: #00009f;

}

.box1 {
    display: flex;
} 
 
@media(max-width: 800px) { 
    .box1 { 
        flex-direction: column; 
    }
}